<!DOCTYPE html>
<html lang="en">
  <head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">

     <title>

		{% block title %} Bill.com {% endblock %}

	 </title>

      {% load static %}
      <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'appone/css/sidebar.css' %}" type="text/css">
      <link rel="stylesheet" href="{% static 'appone/css/sobpage.css' %}" type="text/css">



      <script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
      <script src="{% static 'bootstrap/js/html5shiv.min.js' %}"></script>

      <script src="{% static 'bootstrap/js/respond.min.js' %}"></script>



      <script src="{%static 'appone/js/side7.js' %}"></script>
      <script src="{%static 'appone/js/devicee.js' %}"></script>



       <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>


      {% block stylesheet %}
      {% endblock %}


    <![endif]-->
  </head>



  <body onload="device()">

         <div class="container-fluid">
                 <div class="row">

                       <div id="pics" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


                                <div id="sidebar">

                                        <ul>
                                              <li>Home </li>
                                              <li>About</li>
                                              <li>Contact</li>
                                        </ul>

                                 </div>



                                <div class="row" id="jinis">
                                            <nav class="navbar navbar-default navbar-fixed-top">
                                                  <div class="container-fluid">


                                                        <div class="col-lg-1 col-md-5 sol-sm-6 col-xs-3">
                                                             <h2 class="toggle-btn" id="nimmi" onclick="sidebar()">
                                                                   &#9776;
                                                             </h2>
                                                        </div>
                                                    <!-- Brand and toggle get grouped for better mobile display -->

                                                        <div class="navbar-header">

                                                                  <a class="navbar-brand" href="#">Bill.com</a>
                                                        </div>

                                                    <!-- Collect the nav links, forms, and other content for toggling -->
                                                        <div >
                                                              <ul class="nav nav-tabs nav-justified">
                                                                    <li role="presentation" class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                                                                    <li role="presentation" class="dropdown">
                                                                              <a id="info1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret">  </span></a>
                                                                              <ul class="dropdown-menu">

                                                                                    <li role="separator" class="divider"></li>
                                                                                    <li><a href="#">Separated link</a></li>
                                                                                    <li role="separator" class="divider"></li>
                                                                                    <li><a href="#">One more separated link</a></li>
                                                                              </ul>
                                                                    </li>

                                                                    <li role="presentation" class="dropdown">
                                                                              <a id="info1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret">  </span></a>
                                                                              <ul class="dropdown-menu">

                                                                                    <li role="separator" class="divider"></li>
                                                                                    <li><a href="#">Separated link</a></li>
                                                                                    <li role="separator" class="divider"></li>
                                                                                    <li><a href="#">One more separated link</a></li>
                                                                              </ul>
                                                                    </li>

                                                                     {% if 'user' not in request.session %}
                                                                            <li role="presentation" class="dropdown">
                                                                                            <a id="info2"  href="{% url 'regislogin' %}" role="button" aria-haspopup="true" aria-expanded="false" >
                                                                                                <font color="black" size="3px"> <b> Login/Register </b> </font>
                                                                                            </a>

                                                                            </li>


                                                                           {% else %}

                                                                                    <li role="presentation" class="dropdown">
                                                                                            <a id="info2"  href="{% url 'logout' %}" role="button" aria-haspopup="true" aria-expanded="false" >
                                                                                                <font color="black" size="3px"> <b> Logout </b> </font>
                                                                                            </a>

                                                                                    </li>


                                                                     {% endif %}

                                                              </ul>


                                                        </div><!-- /.navbar-collapse -->
                                                  </div><!-- /.container-fluid -->
                                            </nav>

                                </div>
								
								
								<!--------------->
								
								
								{% block content %}

                                {% endblock %}



                       </div>

                 </div>
         </div>




         <div class="modal" id="aboutModal" tabindex="-1">
                                    <div class="modal-dialog">
                                          <div class="modal-content">
                                                <div class="modal-header">
                                                    <button class="close" data-dismiss="modal">&times;</button>
                                                    <h3 class="modal-title">About Us </h3>
                                                </div>
                                                <div class="modal-body">
                                                      <p> sed since the 1500s is reproduced below
														  for those interested. Sections 1.10.32 and 1.10.33 from "
														  de Finibus Bonorum et Malorum" by Cicero are also reproduced
														  in their exact original form, accompanied by English versions
														  from the 1914 translation by H. Rackham.
													  </p>
                                                </div>
                                          </div>
                                    </div>
			 </div>
      {% block script %}

      {% endblock %}

  </body>
</html